<div id="header">
    <div class="header">
        <div class="container">
            <div class="header__wrapper  header--mobile">
                <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <div class="header__logo">
                    <a class="header__logo--pc" routerLink="/"></a>
                    <a class="header__logo--mobile" routerLink="/"></a>
                </div>
                <div class="header__menu">
                    <ul>
                        <li class="drop_menu">
                            <a routerLink="/about" routerLinkActive="active" class="">Về chúng tôi</a>
                            <div class="arrow-mobile">
                                <b class="caret"></b>
                            </div>
                            <ul class="header__submenu">
                                <li><a routerLink="/about/information-company" (click)="clickRouter(nameRouter)" #nameRouter>Thông tin công ty</a></li>
                                <!--<li><a href="about.html#ceo_message_bm">Thông điệp từ CEO</a></li>-->
                                <li><a href="about.html#management_board">Ban lãnh đạo</a></li>
                                <li><a href="about.html#history_bm">Lịch sử hình thành</a></li>
                            </ul>
                        </li>
                        <li class="drop_menu">
                            <a href="product-service.html" class="">Sản phẩm &amp; Dịch vụ</a>
                            <div class="arrow-mobile">
                                <b class="caret"></b>
                            </div>
                            <ul class="header__submenu">
                                <li><a href="product-service.html#game_bm">Games</a></li>
                                <li><a href="product-service.html#mobile_bm">Mobile apps</a></li>
                                <li><a href="product-service.html#offshore_bm">Offshore dạng Lab</a></li>
                                <li><a href="product-service.html#solution_outsourcing">Solution &amp; Outsourcing</a></li>
                                <li><a href="product-service.html#testing_bm">QA/QC/Testing</a></li>
                                <li><a href="product-service.html#monitoring_bm">Monitoring</a></li>
                                <li><a href="product-service.html#cloud_bm">Cloud service</a></li>
                            </ul>
                        </li>
                        <li class="drop_menu">
                            <a href="strengths.html">Thế mạnh</a>
                            <div class="arrow-mobile">
                                <b class="caret"></b>
                            </div>
                            <ul class="header__submenu">
                                <li><a href="strengths.html#technologies_bm">Kỹ thuật &amp; Công nghệ </a></li>
                                <li><a href="strengths.html#art_design_bm">Thiết kế &amp; Mỹ thuật </a></li>
                                <li><a href="strengths.html#art_gallery_bm">Thư viện mỹ thuật</a></li>
                            </ul>
                        </li>
                        <li class="drop_menu"><a href="benefit.html">Phúc lợi</a></li>
                        <li class="drop_menu"><a href="https://blog.gianty.com.vn">Blog</a></li>
                        <li class="drop_menu"><a href="jobs.html">Tuyển dụng</a><span class="header__new">Mới</span></li>
                        <li class="drop_menu"><a href="contact.html">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>