<div id="footer">
    <div class="space"></div>
    <footer>
        <div class="container row">
            <div class="col-lg-4 security">
                <ul>
                    <li><a class="font-weight-500" href="/privacy.html">Điều khoản sử dụng</a></li>
                </ul>
            </div>
            <div class="col-lg-4 copyright">
                <p>© 2017 Gianty Co., Ltd. All rights reserved.</p>
            </div>
            <div class="col-lg-4 socials-network">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/Giantycareer/" target="_blank" class="facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/gianty-vietnam-b7a332140/" target="_blank" class="linkedin"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Giantyvietnam/with_replies?lang=vi" target="_blank" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/giantyvietnam/" target="_blank" class="instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/giantyvietnam/" target="_blank" class="pinrest"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCVhGksyaOFwFiujvAtxgbGg" target="_blank" class="youtube"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>