<section id="main__panel">
    <section class="banner__sub banner__sub--about">
    </section>
    <div class="space"></div>
    <section class="captial">
        <div class="container">
            <div class="col-lg-4">
                <div class="captial__icon"></div>
                <div class="captial__information">
                    <h3>05/2000</h3>
                    <span>Thành lập</span>
                </div>
            </div>
            <div class="col-lg-4 captial--tax">
                <div class="captial__icon"></div>
                <div class="captial__information">
                    <h3>1.000.000.000</h3>
                    <span>Vốn cơ bản</span>
                </div>
            </div>
            <div class="col-lg-4 captial--size">
                <div class="captial__icon"></div>
                <div class="captial__information">
                    <h3>
                        <p class="counter">300</p>+ </h3>
                    <span>Quy mô công ty</span>
                </div>
            </div>
        </div>
    </section>
    <div class="space"></div>
    <section class="about_intro">
        <div class="container row">
            <div class="col-lg-6 row about_intro_content">
                <div class="col-lg-12">
                    <h4 class="Roboto-medium">Công ty TNHH Gianty</h4>
                    <p>35 Tôn Đức Thắng, P. Bến Nghé, Quận 1, Tp. Hồ Chí Minh, Việt Nam.</p>
                    <p><a href="https://www.gianty.com.vn">https://www.gianty.com.vn</a></p>
                </div>
                <div class="col-lg-12">
                    <h4 class="Roboto-medium">GNT Japan Inc.</h4>
                    <p>Pine Bldg. 5F, 3-11-2 Shibuya Shibuya-Ku, Tokyo 1500002, Japan.</p>
                    <p><a href="https://www.gnt.co.jp" target="_blank">https://www.gnt.co.jp</a></p>
                </div>
                <div class="col-lg-12">
                    <h4 class="Roboto-medium">GNT America Inc.</h4>
                    <p>156, 2nd Street , San Francisco, CA 94105.</p>
                </div>
                <div class="clear"></div>
                <div class="space"></div>
                <div class="clear"></div>
                <div class="col-lg-10">
                    <h4 class="Roboto-medium">Khách hàng chính</h4>
                    <p class="partner">
                        <img src="assets/images/softbank.jpg" title="Partner Softbank" alt="Partner Softbank" />
                        <img src="assets/images/google.jpg" title="Partner Google" alt="Partner Google" />
                        <img src="assets/images/apple.jpg" title="Partner Apple" alt="Partner Apple" />
                        <img src="assets/images/kddi.jpg" title="Partner KDDI" alt="Partner KDDI" />
                        <img src="assets/images/docomo.jpg" title="Partner Docomo" alt="Partner Docomo" />
                    </p>
                </div>
            </div>
            <div class="col-lg-6 about_intro_map">
                <img class="img-responsive" src="assets/images/about_map.jpg">
            </div>
        </div>
    </section>
    <section class="container">
        <div class="line"></div>
    </section>
    <section class="management">
        <div class="container row">
            <h1 class="Roboto-light">Ban Lãnh Đạo</h1>
            <div class="col-lg-4 text-center">
                <img src="assets/images/MrLam.jpg" title="Chủ tịch kiêm Tổng giám đốc điều hành" alt="Chủ tịch kiêm Tổng giám đốc điều hành" />
                <h4 class="Roboto-medium">Hồ Tùng Lâm</h4>
                <p class="Roboto-light">Chairman & CEO</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 text-center">
                <img src="assets/images/MrHonda.jpg" title="COO" alt="COO" />
                <h4 class="Roboto-medium">Shingo Honda</h4>
                <p class="Roboto-light">COO</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 text-center">
                <img src="assets/images/MrKondo.jpg" title="Nobuyasu Kondo" alt="Nobuyasu Kondo" />
                <h4 class="Roboto-medium">Nobuyasu Kondo</h4>
                <p class="Roboto-light">Board Member</p>
                <!--<p class="Roboto-light text-indent">Board Member</p>-->
            </div>
            <div class="col-lg-4 text-center">
                <img src="assets/images/MrShikishima.jpg" title="Tamehisa Shikishima" alt="Tamehisa Shikishima" />
                <h4 class="Roboto-medium">Tamehisa Shikishima</h4>
                <p class="Roboto-light">Board Member</p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 text-center">
                <img src="assets/images/MrBang.jpg" title="CTO" alt="CTO" />
                <h4 class="Roboto-medium">Nguyễn Anh Bằng</h4>
                <p class="Roboto-light">CTO</p>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="container">
        <div class="line"></div>
    </section>
    <section class="history">
        <div class="container">
            <h1 class="Roboto-light">Lịch Sử Hình Thành</h1>
            <ul>
                <li>

                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2000</time>
                        </h2>
                        <p> <span class="font-weight-500"> Tháng 05 - </span>Thành lập công ty ở Yokohama thuộc lĩnh vực Mobile Internet.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2001</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 08 - </span>Thành lập công ty cổ phần FC ở Meguro, sau này là công ty ICJ chuyên chế tác nội dung cho các dịch vụ Internet.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2004</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 02 - </span>Dời trụ sở chính của ICJ và GNT về Shibuya-ku, Tokyo.</p>
                        <p><span class="font-weight-500">Tháng 03 - </span>Khai trương nhà hàng Bông Sen chuyên thức ăn Việt Nam ở Roppongi.</p>
                        <p><span class="font-weight-500">Tháng 04 - </span>Triển khai dịch vụ EC site Wakiaiai dành cho web điện thoại di động.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2005</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 06 - </span>Thành lập GNT China ở Bắc Kinh - Trung Quốc. </p>
                        <p><span class="font-weight-500">Tháng 10 - </span>Triển khai site Aura AI Danjon trên Platform của ba nhà cung cấp NTT Docomo, Au, Softbank. </p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2006</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 04 - </span>Thành lập GNT Việt Nam tại Hà Nội. </p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2007</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 07 - </span>Hợp tác và cung cấp dịch vụ Mobile CRM Solution với Joyfull Co., Ltd.</p>
                        <p><span class="font-weight-500">Tháng 12 - </span>Cung cấp dịch vụ mạng xã hội Mobion trên nền tảng Web và Mobile.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2008</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 12 - </span>Thành lập GNT America tại New York.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2009</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 02 - </span>Hợp tác kinh doanh với Ikivo Co.,Ltd - công ty cung cấp dịch vụ ứng dụng trên điện thoại lớn nhất Châu Âu.</p>
                        <p><span class="font-weight-500">Tháng 05 - </span>Hợp tác và vận hành cùng lúc 6 site mang tính chiến lược kinh doanh với Belluna Co.,Ltd - công ty thương mại chuyên bán hàng trên điện thoại.</p>
                        <p><span class="font-weight-500">Tháng 03 -> Tháng 12 - </span>Hợp tác và cung cấp dịch vụ Mobile CRM Solution cho các công ty, cửa hàng, nhà hàng nổi tiếng của Nhật Bản như: Fujiya Co.,Ltd, Lotteria Co.,Ltd, Mask House Co.,Ltd, Chiyodasushi
                            Co.,Ltd, Daiso Co., Ltd, Shin Corporation Co.,Ltd, Hanaya Yohe Co.,Ltd, Gurume Kineya Co.,Ltd, Ion Ihato Co., Ltd,…</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2010</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 01 -> Tháng 11 - </span>Hợp tác và cung cấp dịch vụ Mobile CRM Solution cho các nhà hàng: Kyo Taru Co., Ltd, Sagami Chain Co.,Ltd, Satsuki Co.,Ltd, Hurxley Co.,Ltd, Nakau Co.,Ltd, Takeya Co.,Ltd,
                            Nomura Kuriningu Co.,Ltd, Pepper Co.,Ltd, Yamada Co.,Ltd, Hamasushi Co.,Ltd, Pomfudo co.,Ltd, Nestage Co.,Ltd, Oizumi Foods Co., Ltd, Main Mato Co.,Ltd, Burger King Japan Co.,Ltd, M Grant Foods co.,Ltd, Colowide East Japan
                            co., Ltd, Chimney Co., Ltd, Seven & i Food Systems Co.,Ltd</p>
                        <p><span class="font-weight-500">Tháng 12 - </span>Giới thiệu ứng dụng nghe nhạc Mobion Music.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2011</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 01 - </span>Ứng dụng nghe nhạc Mobion Music dành vị trí đầu trong tổng số bảng xếp hạng của Appstore. </p>
                        <p><span class="font-weight-500">Tháng 02 - </span>Phối hợp với Pasona Co.,Ltd - công ty môi giới, cung cấp các dịch vụ về việc làm, hỗ trợ tìm việc thông qua phương tiện truyền thông mạng xã hội Mobion.</p>
                        <p><span class="font-weight-500">Tháng 03 - </span>Hợp tác và cung cấp dịch vụ Mobile CRM Solution cho các cửa hàng và nhà hàng: Suzutan Co., Ltd, Zensho Co., Ltd, Tondon Co., Ltd, Coco Store Co., Ltd, Shigemitsu Sangyo Co., Ltd,
                            Peter Pan Como Co., Ltd, Yoshinoya Co.,Ltd, Yoshinoya Co.,Ltd, Segami Medix Co., Ltd.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2012</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 02 - </span>Bắt đầu kinh doanh Mobion3S CRM Solution dành cho Real Store.</p>
                        <p><span class="font-weight-500">Tháng 03 - </span>Thành lập cơ sở của GNT America tại Hoa Kỳ, San Francisco, California.</p>
                        <p><span class="font-weight-500">Tháng 05 - </span>Giới thiệu App game Sexy Police.</p>
                        <p><span class="font-weight-500">Tháng 07 - </span>Giới thiệu App game Ayakashi Bách Quỷ Dạ Hành.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2013</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 01 - </span>Phối hợp với Com2us Corp giới thiệu App game Sexy Police tại thị trường Hàn Quốc. </p>
                        <p><span class="font-weight-500">Tháng 10 - </span>Phối hợp với Joymasters giới thiệu App game Sexy Police tại thị trường Đài Loan </p>
                        <p>Phối hợp với Neocyon, Inc. giới thiệu App game Ayakashi Bách Qủy Dạ Hành tại thị trường Hàn Quốc. </p>
                        <p><span class="font-weight-500">Tháng 11 - </span>Giới thiệu App game Savanna, lấy từ truyện tranh nổi tiếng cùng tên của Eburisuta Co., Ltd làm đề tài.</p>

                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2014</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 03 - </span>Giới thiệu game Akko - Native game trên điện thoại, dựa theo hình tượng Wada Akiko của Horipuro Co.,Ltd làm nhân vật chính.</p>
                        <p><span class="font-weight-500">Tháng 04 - </span>Thành lập Gianty Việt Nam tại Thành phố Hồ Chí Minh. </p>
                        <p><span class="font-weight-500">Tháng 07 - </span>Chuyển quyền quản lý dịch vụ Mobion.jp đến Epark Corporation.</p>
                        <p><span class="font-weight-500">Tháng 10 - </span>Giới thiệu 3 game, trong đó có game Chonmage Wasawassa.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2015</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 04 - </span>Triển khai dịch vụ phát triển Offshore cho các công ty Nhật Bản tại Việt Nam.</p>
                        <p><span class="font-weight-500">Tháng 12 - </span>Giới thiệu game Monster Drive Revolution - Native game dành cho Smart-phone.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2016</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 02 - </span>Giới thiệu App game Ayakashi Bách Quỷ Dạ Hành của ICJ cộng tác với công ty Kodan – công ty có truyện tranh nổi tiếng Kidori no Ono.</p>
                        <p><span class="font-weight-500">Tháng 06 - </span>GNT và Mynet Co.,Ltd hợp tác sử dụng dịch vụ Offshore tại Việt Nam.</p>
                        <p><span class="font-weight-500">Tháng 09 - </span>Giới thiệu Monster Drive Revolution của ICJ cộng tác với công ty Shingeki No Kyojin - đại chiến Titan, anime nổi tiếng của công ty Kodan.</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>
                            <time>2017</time>
                        </h2>
                        <p><span class="font-weight-500">Tháng 02 - </span>Game Monster Drive Revolution của ICJ đạt 1.300.000 lượt tải. <br/> - Đổi tên ICJ thành Gianty Japan
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>