<section id="main__panel">
    <section class="banner__sub banner__sub--strength">
    </section>

    <div class="space"></div>
    <section class="technology">
        <div class="container">
            <h1>Kỹ Thuật & Công Nghệ</h1>
            <div class="col-lg-11">
                <p>Với đội ngũ lập trình viên được hội tụ đầy đủ kiến thức, kinh nghiệm cũng như cơ hội thử thách, áp dụng nhiều công nghệ mới vào kỹ thuật từ Front-end đến Back-end: <span class="font-weight-500">Native Apps, Game, Hybrid Apps, High Scalable System, Monitoring & Analytics System, AI</span>.</p>
                <p>Chúng tôi tự hào là đội ngũ nhân sự Việt Nam làm những sản phẩm và dịch vụ chất lượng đáp ứng nhu cầu cho người dùng trên toàn thế giới.</p>
            </div>
            <div class="clear"></div>
            <div class="margin__top20"></div>
            <div class="col-lg-12 text-center">
                <img src="assets/images/strength/tech-overview.jpg" title="Technology Overview" alt="Technology Overview">
            </div>
        </div>
    </section>
    <div class="space"></div>
    <section class="server_client">
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h3 class="font-weight-500 text-left">Server Side</h3>
                    <img src="assets/images/strength/server-side.jpg" title="Server Services" alt="Server Services">
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-6 float--right">
                    <h3 class="font-weight-500 text-left">Game Client Side</h3>
                    <img src="assets/images/strength/game-client-side.jpg" title="Game Client Side" alt="Game Client Side">
                </div>
            </div>
            <div class="clear"></div>
            <div class="space"></div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h3 class="font-weight-500 text-left">Analytics System</h3>
                    <img src="assets/images/strength/gas.jpg" title="Google Analytic System" alt="Google Analytic System">
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-6 float--right">
                    <h3 class="font-weight-500 text-left">Monitoring</h3>
                    <img src="assets/images/strength/monitoring.jpg" title="Monitoring" alt="Monitoring">
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <a name="art_design_bm"></a>
    <section class="container">
        <div class="line"></div>
    </section>
    <!--<a href="javascript:;" id="art_design_bm" style="display: block; height: 2px;width:100%"></a>-->
    <section class="titlePage">
        <div class="container">
            <h1>Thiết Kế & Mỹ Thuật</h1>
            <div class="tittlePage__description">

                <p>Chúng tôi tự hào là nhà tiên phong và duy nhất tại Việt Nam đã đào tạo và phát triển đội ngũ hoạ sỹ 2D vẽ Anime Manga theo chuẩn phong cách Nhật Bản. Với quy trình quản lý, hướng dẫn trực tiếp từ Art Director hàng đầu tại Nhật Bản, đội
                    ngũ hoạ sỹ 2D đã tạo nên những tác phẩm nghệ thuật làm hài lòng thị hiếu và xây dựng lực lượng Fan Art hùng hậu tại thị trường Game của Nhật Bản.</p>
                <p>Bên cạnh đó đội ngũ hoạ sỹ 3D, Animator và thiết kế UI/UX cũng đã tạo nên những sản phẩm chất lượng được đánh giá cao, mang đến sự hài lòng, thích thú và mong đợi từ người chơi.</p>
            </div>
        </div>
    </section>
    <div class="space"></div>
    <section class="model3D">
        <div class="container row">
            <div class="col-lg-6 margin--top">
                <h3 class="font-weight-500">3D Model</h3>
                <p>Chúng tôi sử dụng các phần mềm đồ họa Maya & 3D Max để tạo ra các nhân vật 3D. Sự chuyển động của các nhân vật, quái vật được thể hiện phong phú và đẹp mắt thu hút nhiều người chơi.</p>
            </div>
            <div class="col-lg-6">
                <figure class="cd-image-container is-visible">
                    <img src="assets/images//strength/robot-3D.png" alt="Original Image">
                    <div class="cd-resize-img">
                        <!-- the resizable image on top -->
                    </div>
                    <span class="cd-handle"></span>
                </figure>
            </div>
        </div>
    </section>
    <section class="model25D">
        <div class="container row">
            <div class="col-lg-6 float--right margin--top">
                <h3 class="font-weight-500">2.5D Animation</h3>
                <p>Chúng tôi sử dụng phần mềm Spine, After Effect để chế tác ra phiên bản 2.5D từ phiên bản 2D làm bằng Photoshop, SAI và kết hợp tính lập thể 3D mà vẫn giữ được những nét đặc trưng chi tiết, tỉ mỉ và chất lượng của phiên bản 2D. Bằng Unity
                    chúng tôi tạo nên sự phong phú, đa dạng về chuyển động của các nhân vật nhằm đáp ứng yêu cầu của Game.</p>
            </div>
            <div class="col-lg-6">
                <video autoplay="" loop="" style="width: 483px; height: 600px">
                    <source src="assets/videos/Y-2285-lv3-cat.mp4" type="video/mp4">
                </video>
                <div class="spine">
                    <div class="section-spine">
                        <div id="loader" class="loader"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="space"></div>
    <section class="model2D">
        <div class="container row">
            <div class="col-lg-12">
                <h3 class="font-weight-500">Sản phẩm 2D</h3>
                <p>Chúng tôi quản lý quy trình theo ba bước dưới sự hướng dẫn và hỗ trợ từ Art Director hàng đầu tại Nhật.</p>
                <p>Mỗi họa sỹ được phân công công việc theo sở thích và kỹ năng chuyên môn từ các bước tạo hình đến khi hoàn thành nhân vật dưới sự kiểm tra và phản hồi nhanh chóng.</p>
            </div>
            <div class="col-lg-12">
                <!-- start block for pc -->
                <div class="model2D__sketch">
                    <div class="effect-public active effect-1" rel="position_1">
                        <a href="javascript:;" class="font-japan">Bước 3 - Tô màu</a>
                        <img src="assets/images/strength/st03.jpg" title="2D" alt="game 2D" class="step-process" />
                    </div>
                    <div class="effect-public effect-2" rel="position_2">
                        <a href="javascript:;" class="font-japan">Bước 2 - Dựng hình và lên màu cơ bản</a>
                        <img src="assets/images/strength/st02.jpg" title="2D" alt="game 2D" class="step-process" />
                    </div>
                    <div class="effect-public effect-3" rel="position_3">
                        <a href="javascript:;" class="font-japan">Bước 1 - Phác họa</a>
                        <img src="assets/images/strength/st01.jpg" title="2D" alt="game 2D" class="step-process" />
                    </div>
                </div>
                <!-- end block for pc -->

                <!-- start block for mobile -->
                <div class="model2D__mobile">
                    <div class="slider_sketch owl-theme owl-carousel">
                        <div class="item">
                            <img data-lazy="assets/images/strength/st01.jpg" alt="game 2D" /><br/>
                            <b>Bước 1 - Phác họa</b>
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/strength/st02.jpg" alt="game 2D" /><br/>
                            <b>Bước 2 - Dựng hình và lên màu cơ bản</b>
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/strength/st03.jpg" alt="game 2D" /><br/>
                            <b>Bước 3 - Tô màu</b>
                        </div>
                    </div>
                </div>
                <!-- end block for mobile -->
            </div>
        </div>
    </section>



</section>