<section id="main__panel">
    <section class="banner__sub banner__sub--contact">
    </section>
    <div class="space"></div>
    <section class="contacts" id="contacts">
        <div class="container">
            <div class="col-lg-5 col-sm-5 col-xs-12 contacts-address">
                <h1 class="Roboto-medium">Liên Hệ</h1>
                <h4>Công ty TNHH Gianty</h4>
                <p>Tầng 11, tòa nhà Green Power <br>35 Tôn Đức Thắng, Phường Bến Nghé, Quận 1 <br>Thành phố Hồ Chí Minh</p>
            </div>
            <div class="col-lg-2 col-xs-6 col-sm-2 contacts-item phone">
                <span></span>
                <p>+84 8 22281111</p>
            </div>
            <div class="col-lg-2 col-xs-6 col-sm-2 contacts-item fax">
                <span></span>
                <p>+84 8 22282222</p>
            </div>
            <div class="col-lg-2 col-xs-6 col-sm-2 contacts-item mail">
                <span></span>
                <p><a href="mailto:info@gianty.com.vn">info@gianty.com.vn</a></p>
                <p><a href="mailto:recruitment@gianty.com.vn">recruitment@gianty.com.vn</a></p>
            </div>
            <div class="col-lg-12 contacts-map" id="map">
                <div class="googleMap">
                    <div class="vbox-preloader">Loading...</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.361487532028!2d106.70181321532928!3d10.783601092316623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4bdf470fa9%3A0x8c6965d6e8996873!2zMzUgVMO0biDEkOG7qWMgVGjhuq9uZywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1488267122436"
                        scrollwheel="false" frameborder="0" style="border:0" allowfullscreen id="maps-vn"></iframe>
                </div>
            </div>
        </div>
    </section>
</section>