<section id="main__panel">
    <section class="banner__sub banner__sub--service">
    </section>
    <div class="space"></div>
    <section class="product-service panel_games">
        <div class="container row">
            <div class="col-lg-10">
                <h1 class="Roboto-medium">Games</h1>
                <p class="Roboto-light">Chúng tôi tự hào là nhà sản xuất game hàng đầu Việt Nam. Tại Gianty, tất cả các thành viên được tham gia vào các công đoạn trong quá trình lên ý tưởng, phát triển và vận hành sản phẩm.<br/>
                    <br/> Cùng với các Producer hàng đầu tại Nhật, chúng tôi đã tạo ra các sản phẩm đạt những vị trí đứng đầu thị trường Nhật, Mỹ phục vụ hàng triệu người dùng.
                </p>
            </div>
            <div class="col-lg-12">
                <div class="owl-products-games owl-carousel owl-theme owl-products">
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-5">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/ayakashi.jpg" title="Ayakshi" alt="Game Ayakashi" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-4 text-left text-description">
                            <h3 class="font-weight-500">Ayakashi</h3>
                            <p>Từ cơ duyên gặp mặt yêu hồ và hướng tới mục tiêu trở thành Youkai Ou (Yêu giới Vương), người chơi bắt đầu lên đường tạo dựng đội Bách Quỷ Dạ Hành. </p>
                            <p>Trên chuyến hành trình với muôn vàn sự kiện liên tiếp diễn ra và chạm trán với hằng hà sa số yêu quái đa tính cách, phong phú nhiều chủng loại cũng tạo nên những câu chuyện hào hùng và lãng mạn được hé lộ.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-5">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/mondra.jpg" title="Mondra" alt="Game Mondra" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-4 text-left text-description">
                            <h3 class="font-weight-500">Monster Drive Revolution</h3>
                            <p>Thể loại game RPG với thao tác đơn giản giúp người chơi dễ dàng tham gia các trận chiến đánh yêu quái bằng cách sử dụng cò quay Roulette.</p>
                            <p>Bên cạnh đó có thể hợp sức cùng bạn bè nghênh chiến với các đại yêu quái hoặc đem quái vật của bạn đọ sức với những người chơi khác.</p>
                            <p>Điều tuyệt vời hơn nữa, với chức năng PvP cho phép tối đa 6 người chơi có thể đọ sức trực tuyến với nhau.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-5">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/akko.jpg" title="Akko" alt="Game Akko" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-4  text-left text-description">
                            <h3 class="font-weight-500">Akko</h3>
                            <p>Thể loại game thành chiến RPG với nhân vật chính dựa trên hình tượng nghệ sỹ quốc dân Wada Akiko.</p>
                            <p>Trong vai Akko-san, người chơi có thể thoải mái điều khiển các dạng “Akkotachi” (các nhân vật Akko-san gặp được trên hành tinh Akko) để đánh lùi các kẻ địch xấu xa liên tiếp kéo đến.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="col-lg-12 last-slider touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-5">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/tsukumon.jpg" title="Tsukumon" alt="Game Tsukumon" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-4 text-left text-description">
                            <h3 class="font-weight-500">Tsukumon</h3>
                            <p>Thể loại game mang phong cách hoài cổ.</p>
                            <p>Bỏ lại sau lưng những bộn bề, người chơi về thăm ngôi nhà của người bà yêu dấu. Tại đây, cuộc tìm kiếm những Tsukumon (Tsukumongami - Phó Tang Thần) lẩn trốn trong nhà bắt đầu.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a name="mobile_bm"></a>
    <section class="container">
        <div class="line"></div>
    </section>
    <section class="product-service panel_mobile">
        <div class="container row">
            <div class="col-lg-10 ">
                <h1>Mobile Apps</h1>
                <p>Nắm bắt các xu thế phát triển của thế giới, chúng tôi không ngừng tạo nên những ứng dụng hữu ích dựa trên nền tảng kỹ thuật vững chắc trong nhiều lĩnh vực như: mạng xã hội, thương mại điện tử, quảng cáo, âm nhạc, video, tin nhắn.</p>
            </div>
            <div class="col-lg-12">
                <div class="owl-products-apps owl-carousel owl-theme owl-products">
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-3  text-left  text-description">
                            <h3 class="font-weight-500">Mobion Music</h3>
                            <p>Nghe nhạc chất lượng cao kèm theo chức năng nhận diện nhạc sỹ và lời bài hát. Phát video trực tuyến với lời hát karaoke.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-6">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/mobion-music.jpg" title="Apps Mobion Music" alt="Apps Mobion Music" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-3  text-left  text-description">
                            <h3 class="font-weight-500">Mobion Photo</h3>
                            <p>Tạo Album cá nhân, chỉnh sửa hình ảnh, thêm biểu tượng, bộ lọc, khung ảnh, nội dung với nhiều hiệu ứng chuyển tiếp và nhạc đi kèm.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-6">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/mobion-photo.jpg" title="Apps Mobion Photo" alt="Apps Mobion Photo" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-3  text-left  text-description">
                            <h3 class="font-weight-500">Mobion Food Navi</h3>
                            <p>Chia sẻ hình ảnh các món ăn ngon và thông tin về phiếu giảm giá từ nhiều cửa hàng trên khắp Nhật Bản.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-6">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/mobion-food-navi.jpg" title="Apps Mobion Food Navi" alt="Apps Mobion Food Navi" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="col-lg-12 row touch-line">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-3 text-left  text-description">
                            <h3 class="font-weight-500">Stixchat</h3>
                            <p>Người dùng có nhiều cơ hội khám phá những sticker vui nhộn, tạo ra các hình đại diện sống động, thú vị và trải nghiệm những tính năng khác như iMessage giúp cho cuộc trò chuyện trở nên thuận tiện và tuyệt vời hơn.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-6">
                            <img class="owl-lazy" data-lazy="../assets/images/product-service/stixchat.jpg" title="Apps Stixchat" alt="Apps Stixchat" />
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="products">
        <section class="container">
            <a name="offshore_bm"></a>
            <div class="line"></div>
            <h1 class="panel_offshore">Dịch Vụ</h1>
            <div class="space"></div>
            <div class="col-lg-12 ">
                <div class="col-lg-6 section-center">
                    <img src="assets/images/product-service/offshore-lab.png ">
                </div>
                <a name="solution_outsourcing"></a>
                <div class="col-lg-6">
                    <h3 class="font-weight-500">Offshore dạng Lab</h3>
                    <p>
                        Mỗi khách hàng thành lập một Lab (nhóm làm việc) và quản lý đội ngũ kỹ sư Việt Nam như một Project Manager tại văn phòng Gianty.
                    </p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="space"></div>
            <div class="outsourcing text-center">
                <div class="col-lg-12 text-left">
                    <h3 class="font-weight-500">Solution - Cung cấp giải pháp & Outsourcing</h3>
                    <p class="Roboto-light">Sự thành công được đo lường bằng mức độ hài lòng của khách hàng.</p>
                </div>
                <div class="col-lg-12">
                    <div class="maps_out">
                        <div class="all_step">
                            <span></span>
                            <span><b>Gặp gỡ</b></span>
                            <span><b>Thỏa thuận</b></span>
                            <span><b>Xác định mục đích</b></span>
                            <span><b>Ký kết</b></span>
                            <span><b>Triển khai dự án</b></span>
                            <span><b>Kiểm tra dự án</b></span>
                            <span><b>Hoàn thành và chuyển giao</b></span>
                            <span><b>Khách hàng hài lòng</b></span>
                        </div>
                    </div>
                    <div class="step_maps">
                        <div class="step_public step_01">
                            <span><b></b></span>
                            <img src="../assets/images/product-service/step1.png">
                            <p><b>Gặp gỡ</b></p>
                        </div>
                        <div class="step_public">
                            <img src="../assets/images/product-service/step2.png">
                            <p><b>Thỏa thuận</b></p>
                        </div>
                        <div class="step_public">
                            <img src="../assets/images/product-service/step3.png">
                            <p><b>Xác định mục đích</b></p>
                        </div>
                        <div class="step_public">
                            <img src="../assets/images/product-service/step4.png">
                            <p><b>Ký kết</b></p>
                        </div>
                        <div class="step_public step_05">
                            <img src="../assets/images/product-service/step5.png">
                            <p><b>Triển khai dự án</b></p>
                        </div>
                        <div class="step_public">
                            <img src="../assets/images/product-service/step6.png">
                            <p><b>Kiểm tra dự án</b></p>
                        </div>
                        <div class="step_public">
                            <img src="../assets/images/product-service/step7.png">
                            <p><b>Hoàn thành và chuyển giao</b></p>
                        </div>
                        <div class="step_public">
                            <img src="../assets/images/product-service/step8.png">
                            <p><b>Khách hàng hài lòng</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <section class="container">
                <div class="line"></div>
            </section>
            <div class="testing panel_testing">
                <div class="col-lg-12">
                    <div class="col-lg-6 section-center">
                        <img src="assets/images/product-service/qa.png">
                        <a name="monitoring_bm"></a>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="font-weight-500">QA/QC/Testing - Kiểm tra chất lượng</h3>
                        <p>Để dịch vụ của khách hàng đảm bảo chất lượng và đáng tin cậy, chúng tôi cung cấp dịch vụ kiểm tra chất lượng sản phẩm trước khi phát hành (dịch vụ ngắn hạn hay dài hạn tùy theo nhu cầu của khách hàng).</p>
                        <ul>
                            <li>- Chất lượng: giao diện đẹp và dễ sử dụng.</li>
                            <li>- Hiệu năng: tốc độ xử lý và tính ổn định.</li>
                            <li>- Bảo mật: các biện pháp an toàn trước sự tấn công của hacker.</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="space"></div>
            <div class="clear"></div>
            <div class="monitoring panel_monitoring">
                <div class="col-lg-12">
                    <div class="col-lg-6 text-center float--right">
                        <img src="assets/images/product-service/monitor.png ">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="font-weight-500">Monitoring - Hệ thống giám sát</h2>
                        <p>Chúng tôi cung cấp hệ thống giám sát 24 giờ/365 ngày, giúp khách hàng hoàn toàn yên tâm về sản phẩm, dịch vụ.</p>
                        <ul>
                            <li>- Giám sát cơ sở hạ tầng: hardware, network, server</li>
                            <li>- Giám sát ứng dụng: database, thời gian đáp ứng, kết nối đồng thời</li>
                            <li>- Báo cáo kết quả giám sát</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="space"></div>
            <div class="clear"></div>
            <div class="cloud panel_cloud">
                <div class="col-lg-12">
                    <div class="col-lg-6 section-center">
                        <img src="assets/images/product-service/cloud.png ">
                    </div>
                    <div class="col-lg-6">
                        <h2 class="font-weight-500">Cloud service - Điện toán đám mây</h2>
                        <p>Chúng tôi cung cấp các dịch vụ từ tư vấn đến hỗ trợ xây dựng cơ sở hạ tầng cho dịch vụ chăm sóc khách hàng và môi trường phát triển trên nền tảng điện toán đám mây.</p>
                    </div>
                </div>
            </div>
        </section>
    </section>

</section>