<section id="main__panel">
    <section class="banner__sub banner__sub--job">
    </section>
    <section class="container">
        <div class="space"></div>
    </section>
    <section class="list_jobs" id="scrollCategory">
        <div class="container row">
            <div class="col-lg-12 list_jobs_intro">
                <h1>Cơ Hội Nghề Nghiệp</h1>
                <p>Gianty mang đến cho bạn không chỉ một công việc hấp dẫn, mà còn rất nhiều cơ hội phát triển nghề nghiệp phong phú và lâu dài.</p>
            </div>
            <div class="col-lg-12 search_jobs">
                <input type="text" name="searchJobs" placeholder="Từ khóa (Vị trí, ngôn ngữ,...)">
            </div>
            <div class="jobs_category col-lg-8 row">
                <ul class="jobs_category">
                    <li>

                    </li>
                </ul>
            </div>
            <div class="col-lg-12 list_jobs_detail">
                <h2>Vị trí đang tuyển</h2>
                <p class="container text-center job_processing">
                    Đang xử lý... <img src="assets/images/loading_36.svg">
                </p>
                <ul class="list_jobs_detail col-lg-12">
                    <h4 class="job__message--nojob">
                        Cảm ơn bạn đã quan tâm đến cơ hội nghề nghiệp tại <strong>Gianty</strong>. Rất tiếc hiện tại chúng tôi không tuyển vị trí nào. Nhưng bạn có thể để lại thông tin <a routerLink="/jobs/join-us">bên dưới</a> nếu có vị trí phù hợp chúng
                        tôi sẽ liên hệ. Cảm ơn bạn rất nhiều!
                    </h4>
                    <li class="row" *ngFor="let job of listJob">
                        <a id="{{job._id}}">
                            <h4 class="col-lg-6 col-sm-4 col-xs-3 font-weight-500">{{job.name}}</h4>
                            <div class="col-lg-2 col-sm-2 col-xs-2">
                                <p>{{statusJob}}</p>
                            </div>
                            <h5 class="col-lg-2 col-sm-3 col-xs-4">{{job.position}}/{{job.workLevel}}</h5>
                            <button class="col-lg-2 col-sm-3 col-xs-3" id="{{job._id}}" translate="job__button--apply">Ứng tuyển</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="line"></div>
    </section>
    <section class="jobs_advice">
        <div class="container row">
            <div class="col-lg-12">
                <h1>Lời Khuyên Cho Ứng Viên</h1>
            </div>
            <div class="col-lg-12 wizard  row">
                <ul class="nav nav-tabs">
                    <li class="col-lg-4 active">
                        <a class="active apply" href="javascript:;" rel="apply" title="Step 1">
                            <span class="advice1"></span>
                            <h4 class="font-weight-500">Ứng tuyển</h4>
                            <p>Lời khuyên khi ứng tuyển</p>
                        </a>
                    </li>
                    <li class="col-lg-4">
                        <a class="interview" href="javascript:;" rel="interview" title="Step 2">
                            <span class="advice2"></span>
                            <h4 class="font-weight-500">Phỏng vấn</h4>
                            <p>Ứng viên cần chuẩn bị gì</p>
                        </a>
                    </li>
                    <li class="col-lg-4">
                        <a class="presentation" href="javascript:;" rel="presentation" title="Step 3">
                            <span class="advice3"></span>
                            <h4 class="font-weight-500">Quyết định</h4>
                            <p>Quyết định tuyển dụng</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="tab-content">
                <div class="tab-pane apply" style="display:block;">
                    <h4 class="font-weight-500">1. Tìm vị trí phù hợp</h4>
                    <ul>
                        <li>- Tập trung vào những công việc phù hợp với năng lực, kinh nghiệm, định hướng nghề nghiệp và đam mê.</li>
                        <li>- Sự hào hứng khi thay đổi môi trường làm việc.</li>
                    </ul>
                    <h4 class="font-weight-500">2. Chuẩn bị hồ sơ</h4>
                    <ul>
                        <li>- Liệt kê những kinh nghiệm, kỹ năng liên quan đến vị trí ứng tuyển.</li>
                        <li>- Trình bày những dự án, vai trò, quy mô đội, phạm vi công việc, thành tích.</li>
                        <li>- Đối với sinh viên tốt nghiệp nên liệt kê các dự án, kết quả, thành công liên quan đến trường học hoặc môn học thể hiện các kỹ năng và kiến thức liên quan.</li>
                        <li>- Đối với các hồ sơ chưa phù hợp sẽ được cân nhắc qua các vị trí và cơ hội khác.</li>
                        <li>- Nên trình bày nội dung hồ sơ ngắn gọn nhưng súc tích.</li>
                    </ul>
                </div>
                <div class="tab-pane interview">
                    <h4 class="font-weight-500">1. Quy trình phỏng vấn</h4>
                    <ul>
                        <li>- Bài test IQ/GMAT (dành cho Fresher).</li>
                        <li>- Phỏng vấn chuyên môn.</li>
                        <li>- Phỏng vấn nhân sự.</li>
                        <li>- Phỏng vấn với Ban giám đốc.</li>
                    </ul>
                    <h4 class="font-weight-500">2. Kinh nghiệm phỏng vấn </h4>
                    <ul>
                        <li>- Tìm hiểu thông tin về công ty: sản phẩm/dịch vụ, môi trường và văn hoá.</li>
                        <li>- Tham gia đúng giờ, trang phục tươm tất, sạch sẽ.</li>
                        <li>- Giao tiếp bằng ánh mắt, nụ cười chân thật, thái độ tràn đầy năng lượng và quan tâm đến công việc.</li>
                        <li>- Trung thực, bình tĩnh, tự tin, tập trung trả lời câu hỏi, tránh dài dòng, lan man.</li>
                        <li>- Chia sẻ về thế mạnh, thành tích, khả năng quản lý, tinh thần làm việc nhóm,...</li>
                        <li>- Đặt câu hỏi cho nhà tuyển dụng.</li>
                    </ul>
                </div>
                <div class="tab-pane presentation">
                    <h4 class="font-weight-500">1. Tiêu chí tuyển dụng</h4>
                    <ul>
                        <li>- Khả năng học tập.</li>
                        <li>- Kinh nghiệm.</li>
                        <li>- Tố chất, khả năng.</li>
                        <li>- Đam mê.</li>
                    </ul>
                    <h4 class="font-weight-500">2. Kết quả phỏng vấn</h4>
                    <ul>
                        <li>- Ứng viên phù hợp sẽ nhận thư mời nhận việc sau vòng phỏng vấn cuối trong vòng 5 ngày làm việc.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="line"></div>
    </section>
    <section class="joinGianty">
        <div class="container row">
            <div class="col-lg-12 formApply">
                <h1>Gia Nhập Gianty</h1>
                <app-form-join></app-form-join>
            </div>
        </div>
    </section>

</section>