<form name="userForm" (ngSubmit)="applyFunc(userForm.value.name)" #userForm="ngForm" novalidate>
    <div class="col-lg-6">
        <div class="form-group">
            <input type="text" id="name" name="name" class="form-control" placeholder="Tên của bạn*" autocomplete="off" [(ngModel)]="model.name" required #name="ngModel">
            <p *ngIf="userForm.submitted && !name.valid" class="help-block">Vui lòng điền tên bạn</p>
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email*" autocomplete="off" required [(ngModel)]="model.email" required #email="ngModel">
            <p *ngIf="userForm.submitted && !email.valid" class="help-block">Vui lòng điền email của bạn (someone@something.domain)</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <input type="text" name="phone" class="form-control" placeholder="Số điện thoại*" autocomplete="off" required [(ngModel)]="model.phone" required #phone="ngModel">
            <p *ngIf="userForm.submitted && !phone.valid" class="help-block">Vui lòng điền số điện thoại</p>
        </div>
        <div class="form-group">
            <select class="form-control" name="position">
                <option  value="" class="position_category" disabled="disabled">Khối Kỹ thuật</option>
                <option value="BACK-END JAVA DEVELOPER" >BACK-END JAVA DEVELOPER</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12">
        <div>
            <div class="attachment">
                <input class="input-file" id="cv-input" type="file" accept="application/pdf,application/msword">
                <label tabindex="0" for="my-file" class="input-file-trigger">Đính kèm CV</label>
                <p class="file-required">doc, docx, pdf &lt; 5MB</p>
                <p class="cvMessage"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center">
        <button type="submit" class="btn btn-primary btnApply" [disabled]="!userForm.form.valid">Ứng tuyển</button>
    </div>
</form>