<section id="main__panel">
    <section class="banner__sub banner__sub--privacy">
        <div class="container privacy__container">
            <span class="align-center"></span>
            <div class="privacy__title text-center">
                <h2>Điều khoản sử dụng</h2>
                <p>Chúng tôi thu thập và sử dụng thông tin cá nhân với mục đích phù hợp và hoàn toàn tuân thủ nội dung của <span class="font-weight-500">"Chính sách bảo mật"</span></p>
            </div>
        </div>
    </section>
    <div class="space"></div>
    <section class="privacy">
        <div class="container row">
            <div class="privacy_container col-lg-12">
                <div class="privacy_content">
                    <p>Chúng tôi cam kết sẽ bảo mật những thông tin mang tính riêng tư của người dùng. Vui lòng đọc bản <span class="font-weight-500">“Chính sách bảo mật”</span> dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và
                        bảo vệ quyền lợi của người truy cập:</p>
                    <br>
                    <ul class="square">
                        <li>
                            <p class="font-weight-500">Thu thập và sử dụng thông tin cá nhân</p>
                            <div>
                                <p>Các thông tin thu thập qua website: <a class="font-weight-500" href="https://www.gianty.com.vn">https://www.gianty.com.vn</a> sẽ giúp chúng tôi:</p>
                                <ul class="disc">
                                    <li>Hỗ trợ và giải đáp thông tin người dùng.</li>
                                    <li>Giới thiệu cho người dùng thông tin tuyển dụng và những hoạt động mới nhất trên website của chúng tôi.</li>
                                </ul>
                                <br>
                                <p>Để truy cập và sử dụng một số dịch vụ tại <a class="font-weight-500" href="https://www.gianty.com.vn">https://www.gianty.com.vn</a>, người dùng có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Họ tên, số
                                    điện thoại, email, chức vụ,…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp, chúng tôi không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.</p>
                                <p>Chúng tôi thu thập và sử dụng thông tin cá nhân với mục đích phù hợp và hoàn toàn tuân thủ nội dung của <span class="font-weight-500">“Chính sách bảo mật”</span>. Khi cần thiết, chúng tôi có thể sử dụng những thông tin
                                    này để liên hệ trực tiếp với bạn dưới các hình thức như: gửi thông tin về các sự kiện sắp diễn ra hoặc thông tin tuyển dụng nếu bạn đăng kí nhận email thông báo.
                                </p>
                                <p>Nếu bạn không muốn nhận thư từ chúng tôi, xin vui lòng thông báo cho chúng tôi biết qua địa chỉ email: <a class="font-weight-500" href="mailto:info@gianty.com.vn">info@gianty.com.vn</a></p>
                            </div>
                        </li>
                        <li>
                            <p class="font-weight-500">Chia sẻ thông tin cá nhân</p>
                            <div>
                                <p>Ngoại trừ các trường hợp về sử dụng thông tin cá nhân như đã nêu trong chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài.</p>
                                <p>Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của bạn trong các trường hợp thật sự cần thiết như sau: khi có yêu cầu của các cơ quan pháp luật, trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi
                                    bảo vệ quyền lợi chính đáng của mình trước pháp luật, tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn của các thành viên <a class="font-weight-500" href="https://gianty.com.vn">https://www.gianty.com.vn</a>                                    khác.</p>
                                <p>Khi có sự thay đổi, chúng tôi sẽ cập nhập tại chính sách bảo mật của website. Nếu bạn quan tâm đến cách thức chúng tôi sử dụng và bảo mật thông tin, xin vui lòng thường xuyên theo dõi tại website này.</p>
                            </div>
                        </li>
                        <li>
                            <p class="font-weight-500">Thông tin liên hệ</p>
                            <div>
                                <p>Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ bạn về <span class="font-weight-500">“Chính sách bảo mật”</span> này. Nếu bạn có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ
                                    email:
                                    <a class="font-weight-500" href="mailto:info@gianty.com.vn">info@gianty.com.vn</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>