<section id="main__panel">
    <section class="banner__sub banner__sub--benefit">
    </section>
    <div class="space"></div>
    <section class="benifit_content">
        <div class="container row">
            <div class="col-lg-12 benifit_intro">
                <h1>Chính Sách Phúc Lợi</h1>
                <p>Chúng tôi mang lại môi trường làm việc và phúc lợi thiết thực nhất cho nhân viên.</p>
            </div>
        </div>
        <div class="benifit_wrapper">
            <div class="container">
                <div class="benifit_item--image benifit_item--dayoff" rel="section_dayoff">
                    <img src="assets/images/benefit/dayoff.jpg" title="Benefit Day Off" alt="Benefit Day Off" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>NGÀY LỄ & <br/> CHẾ ĐỘ NGHỈ PHÉP</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>- Tết tây, tết âm lịch</p>
                            <p>- Giỗ tổ Hùng Vương</p>
                            <p>- Lễ 30/4, 1/5, 2/9</p>
                            <p>- Phép năm: 12 ngày (không được quy đổi ra tiền và được cộng dồn vào quý 1 năm sau)</p>
                            <a class="showBenifit" href="javascript:;" rel="section_dayoff">Xem thêm<span></span></a>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <section class="bgBlur" rel="section_dayoff"></section>
                    <section class="popup_slider">
                        <div class="benefit__close" rel="section_dayoff"></div>
                        <div class="benefit__information">
                            <h2>Ngày Lễ</h2>
                        </div>
                        <div class="owl--benefit">
                            <div class="loading">
                                <div class="loader"></div>
                            </div>
                            <div class="owl-carousel owl--public">
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/dayoff/1.jpg" alt="Dayoff" title="Dayoff">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/dayoff/2.jpg" alt="Dayoff" title="Dayoff">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/dayoff/3.jpg" alt="Dayoff" title="Dayoff">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/dayoff/4.jpg" alt="Dayoff" title="Dayoff">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/dayoff/5.jpg" alt="Dayoff" title="Dayoff">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/dayoff/6.jpg" alt="Dayoff" title="Dayoff">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="benifit_item--image benifit_item--events" rel="section_events">
                    <img src="assets/images/benefit/events.jpg" title="Benefit Events" alt="Benefit Events" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>Lễ Hội & Sự Kiện</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>- Quà dịp 8/3, 20/10, trung thu và sinh nhật.</p>
                            <p>- Quốc tế thiếu nhi: quà cho các bé.</p>
                            <p>- Giáng sinh, tất niên: tổ chức vui chơi trong và ngoài công ty.</p>
                            <p>- Happy hour, café sáng & thức ăn nhanh.</p>
                            <a class="showBenifit" href="javascript:;" rel="section_events">Xem thêm<span></span></a>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <section class="bgBlur" rel="section_events"></section>
                    <section class="popup_slider">
                        <div class="benefit__close" rel="section_events"></div>
                        <div class="benefit__information">
                            <h2>Lễ Hội & Sự Kiện</h2>
                        </div>
                        <div class="owl--benefit">
                            <div class="loading">
                                <div class="loader"></div>
                            </div>
                            <div class="owl-carousel owl--public">
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/1.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/2.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/3.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/4.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/5.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/6.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/7.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/8.jpg" alt="Events" title="Events">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/event/9.jpg" alt="Events" title="Events">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="benifit_item--image benifit_item--salary">
                    <img src="assets/images/benefit/salary.jpg" title="Benefit Salary" alt="Benefit Salary" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>LƯƠNG, PHỤ CẤP & THƯỞNG</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>- Lương: xét tăng lương theo (1) thành tích công việc, (2) thâm niên và (3) thăng chức.</p>
                            <p>- Phụ cấp: teambuilding, ăn trưa và gửi xe.</p>
                            <p>- Thưởng: xét thưởng theo hiệu quả công việc và thành tích kinh doanh của công ty.</p>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="benifit_item--image benifit_item--training" rel="section_training">
                    <img src="assets/images/benefit/training.jpg" title="Benefit Salary" alt="Benefit Training" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>ĐÀO TẠO</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>- Kĩ năng quản lý</p>
                            <p>- Đào tạo tại chỗ (OJT)</p>
                            <p>- Đào tạo ngôn ngữ (tiếng Nhật)</p>
                            <p>- Tech talk, Barcamp</p>
                            <a class="showBenifit" href="javascript:;" rel="section_training">Xem thêm<span></span></a>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <section class="bgBlur" rel="section_training"></section>
                    <section class="popup_slider">
                        <div class="benefit__close" rel="section_training"></div>
                        <div class="benefit__information">
                            <h2>Đào tạo</h2>
                        </div>
                        <div class="owl--benefit">
                            <div class="loading">
                                <div class="loader"></div>
                            </div>
                            <div class="owl-carousel owl--public">
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/1.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/2.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/3.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/4.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/5.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/6.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/7.jpg" alt="training" title="Đào tạo">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/traning/8.jpg" alt="training" title="Đào tạo">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="benifit_item--image benifit_item--sport" rel="section_sport">
                    <img src="assets/images/benefit/sports.jpg" title="Benefit Salary" alt="Benefit Sport" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>Thể Thao</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>- Câu lạc bộ đá banh hằng tuần</p>
                            <p>- Giải đá banh hằng năm: quý 2</p>
                            <p>- Giải Bowling: quý 3</p>
                            <a class="showBenifit" href="javascript:;" rel="section_sport">Xem thêm<span></span></a>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <section class="bgBlur" rel="section_sport"></section>
                    <section class="popup_slider">
                        <div class="benefit__close" rel="section_sport"></div>
                        <div class="benefit__information">
                            <h2>Thể Thao</h2>
                        </div>
                        <div class="owl--benefit">
                            <div class="loading">
                                <div class="loader"></div>
                            </div>
                            <div class="owl-carousel owl--public">
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/1.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/2.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/3.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/4.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/5.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/6.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/7.jpg" alt="sport" title="sport">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/sport/8.jpg" alt="sport" title="sport">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="benifit_item--image benifit_item--travel" rel="section_travel">
                    <img src="assets/images/benefit/travel.jpg" title="Benefit Travel" alt="Benefit Travel" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>Du lịch</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>Du lịch toàn công ty: quý 4</p>
                            <a class="showBenifit" href="javascript:;" rel="section_travel">Xem thêm<span></span></a>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <section class="bgBlur" rel="section_travel"></section>
                    <section class="popup_slider">
                        <div class="benefit__close" rel="section_travel"></div>
                        <div class="benefit__information">
                            <h2>Du lịch</h2>
                        </div>
                        <div class="owl--benefit">
                            <div class="loading">
                                <div class="loader"></div>
                            </div>
                            <div class="owl-carousel owl--public">
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/1.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/2.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/3.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/4.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/5.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/6.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/7.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/8.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/9.jpg" alt="travel" title="travel">
                                </div>
                                <div class="item">
                                    <img data-lazy="assets/images/benefit/travel/10.jpg" alt="travel" title="travel">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="benifit_item--image benifit_item--health">
                    <img src="assets/images/benefit/health.jpg" title="Benefit Health" alt="Benefit Health" />
                    <div class="benifit_item--hover">
                        <span class="align-center"></span>
                        <div class="benifit_item--text">
                            <h4>CHĂM SÓC SỨC KHỎE</h4>
                        </div>
                        <div class="benifit_item--popup">
                            <p>Khám sức khỏe tổng quát định kỳ: quý 2</p>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>