<section id="main__panel">
    <section class="banner">
        <div class="slider__banner">
            <div class="item banner__hcm touch-line">
            </div>
            <div class="item banner__jp touch-line">
            </div>
            <div class="item banner__us touch-line">
            </div>
        </div>
        <div class="banner__title">
            <div class="container">
                <h2>With you, <br/> We challenge infinite possibilities</h2>
            </div>
        </div>
    </section>
    <div class="space"></div>
    <section>
        <div class="container row ">
            <div class="col-lg-6 ">
                <h1>Đôi Nét Về Gianty</h1>
                <p>Gianty là thành viên của GLOBAL NETWORK TECHNOLOGIES (GNT), tập đoàn hàng đầu Nhật Bản trong lĩnh vực cung cấp các dịch vụ trên điện thoại di động.</p>
                <p>Trên 10 năm thành lập tại Việt Nam với đội ngũ hơn 200 thành viên, Gianty tự hào mang lại nhiều dịch vụ thành công thu hút hàng triệu người dùng trên toàn thế giới và đặc biệt là thị trường Nhật Bản. </p>

                <p>Các lĩnh vực kinh doanh của Gianty bao gồm sản xuất Game, phát triển ứng dụng smartphone và các dịch vụ phát triển offshore từ Nhật Bản.</p>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 info-img">
                <img class="info-child" src="assets/images/info-img1.png" />
                <div class="info-img--effect">
                    <img src="assets/images/home/effect01.jpg" />
                    <img src="assets/images/home/effect02.jpg" />
                    <img src="assets/images/home/effect03.jpg" />
                    <img src="assets/images/home/effect04.jpg" />
                    <img src="assets/images/home/effect05.jpg" />
                    <img src="assets/images/home/effect06.jpg" />
                    <img src="assets/images/home/effect07.jpg" />
                    <img src="assets/images/home/effect08.jpg" />
                    <img src="assets/images/home/effect09.jpg" />
                    <img src="assets/images/home/effect10.jpg" />
                    <img src="assets/images/home/effect11.jpg" />
                    <img src="assets/images/home/effect12.jpg" />
                    <img src="assets/images/home/effect13.jpg" />
                    <img src="assets/images/home/effect14.jpg" />
                    <img src="assets/images/home/effect15.jpg" />
                    <img src="assets/images/home/effect16.jpg" />
                    <img src="assets/images/home/effect17.jpg" />
                    <img src="assets/images/home/effect18.jpg" />
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="line"></div>
    </section>
    <section>
        <section class="slider">
            <div class="container text-center">
                <h1 class=" text-center">Sản Phẩm</h1>
                <div class="col-lg-9 float--none display--inlineblock">
                    <div class="slider__tab">
                        <p>
                            <span class="active" rel="slick-games"><i></i> Games</span>
                            <span rel="slick-apps"><i></i>Mobile Apps</span>
                        </p>
                    </div>
                    <div class="slick-games title_public" style="display: block">
                        <p>Nhà sản xuất game chuyên nghiệp, mang đến những sản phẩm hài lòng hàng triệu người dùng trên thế giới.</p>
                    </div>
                    <div class="slick-apps title_public">
                        <p>Ứng dụng tiện ích và đa dạng.</p>
                    </div>
                </div>
                <div class="col-lg-12 float--none slider__products">
                    <div id="slick-games" class="slick-public" style="opacity: 1; z-index:1">
                        <div class="item touch-line">
                            <h4 class="">Ayakashi</h4>
                            <img data-lazy="assets/images/home/ayakashi.jpg" alt="Games" title="Games">
                        </div>
                        <div class="item touch-line">
                            <h4 class="">Monster Drive Revolution</h4>
                            <img data-lazy="assets/images/home/mondra.jpg" alt="Games" title="Games">
                        </div>
                        <div class="item touch-line">
                            <h4 class="">Akko</h4>
                            <img data-lazy="assets/images/home/akko.jpg" alt="Games" title="Games">
                        </div>
                    </div>
                    <div id="slick-apps" class="slick-public" style="opacity: 0; z-index:0">
                        <div class="item touch-line">
                            <img data-lazy="assets/images/home/stixchat.jpg" alt="Mobile Apps" title="Mobile Apps">
                        </div>
                        <div class="item touch-line">
                            <img data-lazy="assets/images/home/mvdio.jpg" alt="Mobile Apps" title="Mobile Apps">
                        </div>
                        <div class="item touch-line">
                            <img data-lazy="assets/images/home/mobion_food.jpg" alt="Mobile Apps" title="Mobile Apps">
                        </div>
                        <div class="item touch-line">
                            <img data-lazy="assets/images/home/mobion_music.jpg" alt="Mobile Apps" title="Mobile Apps">
                        </div>
                        <div class="item touch-line">
                            <img data-lazy="assets/images/home/mobion_photo.jpg" alt="Mobile Apps" title="Mobile Apps">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center slider__more   float--none display--inlineblock">
                    <a href="product-service.html">Tìm hiểu thêm</a>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="line"></div>
        </section>
        <section class="services">
            <div class="container">
                <div class="col-lg-12 services-intro">
                    <h1>Dịch Vụ</h1>
                    <p>Với những sản phẩm thành công tại thị trường Nhật Bản, chúng tôi đã chứng minh năng lực và sự sáng tạo của đội ngũ nhân sự Việt Nam.<br/> Hiện tại, nhiều đối tác đã tin tưởng và xây dựng các nhóm làm việc hiệu quả, linh hoạt trên tất
                        cả các lĩnh vực.
                    </p>
                </div>
                <div class="col-lg-4 offshore-lab services-item animated">
                    <a href="product-service.html#offshore_bm">
                        <span></span>
                        <h3>Offshore dạng Lab</h3>
                        <p>
                            Mỗi khách hàng thành lập một Lab (nhóm làm việc) và quản lý đội ngũ kỹ sư Việt Nam như một Project Manager tại văn phòng Gianty.
                        </p>
                        <div class="learn-more">
                            <h4>Xem thêm</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 solutions services-item animated">
                    <a href="product-service.html#solution_outsourcing">
                        <span></span>
                        <h3>Cung cấp giải pháp & Outsourcing</h3>
                        <p>
                            Chúng tôi cung cấp những giải pháp tiện ích, độc đáo giúp khách hàng xây dựng sản phẩm, vận hành dịch vụ một cách hiệu quả và an toàn.
                        </p>
                        <div class="learn-more">
                            <h4>Xem thêm</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 startup services-item animated">
                    <a href="product-service.html#monitoring_bm">
                        <span></span>
                        <h3>Hệ thống giám sát</h3>
                        <p>
                            Chúng tôi cung cấp hệ thống giám sát 24 giờ/365 ngày, giúp khách hàng hoàn toàn yên tâm về sản phẩm, dịch vụ.
                        </p>
                        <div class="learn-more">
                            <h4>Xem thêm</h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>
    <div class="space"></div>
    <section class="strongs ">
        <div class="container">
            <div class="col-lg-12  float--none">
                <h1 class="color__white">Thế Mạnh</h1>
                <p class="color__white">Đội ngũ nhân sự kỹ thuật cao tạo ra những sản phẩm chất lượng quốc tế.</p>
                <!--<h4>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system</h4>-->
            </div>
            <div class="strongs__information row">
                <div class="col-lg-6">
                    <img src="assets/images/home/strongs_tech_gif.gif" title="Thế Mạnh Về Công Nghệ" alt="Thế Mạnh Về Công Nghệ" />
                    <h3 class="color__white">Kỹ thuật & Công nghệ</h3>
                    <p class="color__white">Áp dụng công nghệ mới trong phát triển sản phẩm và dịch vụ.</p>
                    <a href="strengths.html#technologies_bm">Xem thêm <span></span></a>
                </div>
                <div class="col-lg-6">
                    <img class="img-art" src="assets/images/home/strongs_art_gif.gif" title="Thế Mạnh Về Mỹ Thuật" alt="Thế Mạnh Về Mỹ Thuật" />
                    <h3 class="color__white">Thiết kế & Mỹ thuật</h3>
                    <p class="color__white">Thiết kế đầy sáng tạo và tính thẩm mỹ cao.</p>
                    <a href="strengths.html#art_design_bm">Xem thêm<span></span></a>
                </div>
            </div>
        </div>
    </section>
    <div class="space"></div>
    <section class="jobs">
        <div class="container">
            <div class="col-lg-12 jobs-intro">
                <h1>Cơ Hội Nghề Nghiệp</h1>
                <p>Tương lai phụ thuộc vào những gì bạn quyết định hôm nay. Hãy thách thức những giới hạn cùng với chúng tôi!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 technical jobs-item animated">
                <a href="jobs.html?category=tech#jobs_list_bm" rel="techology">
                    <img src="assets/images/home/tech.png" alt="Kỹ Thuật" title="Kỹ Thuật">
                    <h3>Khối kỹ thuật</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 art jobs-item animated">
                <a href="jobs.html?category=art#jobs_list_bm" rel="art">
                    <img src="assets/images/home/art.png" alt="Mỹ Thuật" title="Mỹ Thuật">
                    <h3>Khối mỹ thuật</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 operate jobs-item animated">
                <a href="jobs.html?category=operator#jobs_list_bm" rel="operator">
                    <img src="assets/images/home/operator.png" alt="Vận Hành" title="Vận Hành">
                    <h3>Khối vận hành</h3>
                </a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="line"></div>
    </section>

    <section class="contacts" id="contacts">
        <div class="container row">
            <div class="col-lg-4 row contacts-address">
                <h1>Liên Hệ</h1>
                <h4>Công ty TNHH Gianty</h4>
                <div class="col-lg-12 row">
                    <span class="col-lg-2 col-xs-2 address"></span>
                    <p class="col-lg-10 col-xs-10">Tầng 11, tòa nhà Green Power <br>35 Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</p>
                </div>
                <div class="col-lg-12 row">
                    <span class="col-lg-2 col-xs-2 phone"></span>
                    <p class="col-lg-10 col-xs-10">+84-8-22281111</p>
                </div>
                <div class="col-lg-12 row">
                    <span class="fax col-lg-2 col-xs-2"></span>
                    <p class="col-lg-10 col-xs-10">+84-8-22282222</p>
                </div>
                <div class="col-lg-12 row">
                    <span class="website col-lg-2 col-xs-2"></span>
                    <p class="col-lg-10 col-xs-10">www.gianty.com.vn</p>
                </div>
                <div class="col-lg-12 row">
                    <span class="email col-lg-2 col-xs-2"></span>
                    <p class="col-lg-10 col-xs-10"><a href="mailto:info@gianty.com.vn">info@gianty.com.vn</a></p>
                </div>
                <div class="col-lg-12 row">
                    <span class="email col-lg-2 col-xs-2"></span>
                    <p class="col-lg-10 col-xs-10"><a href="mailto:recruitment@gianty.com.vn">recruitment@gianty.com.vn</a></p>
                </div>
            </div>
            <div class="col-lg-8 contacts-map" id="map">
                <div class="googleMap">
                    <div class="vbox-preloader">Loading...</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.361487532028!2d106.70181321532928!3d10.783601092316623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4bdf470fa9%3A0x8c6965d6e8996873!2zMzUgVMO0biDEkOG7qWMgVGjhuq9uZywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1488267122436"
                        scrollwheel="false" frameborder="0" style="border:0" allowfullscreen id="maps-vn"></iframe>
                </div>
            </div>
        </div>
    </section>
</section>